.folder-view {
  align-items: center;
  background: -webkit-linear-gradient(-90deg,rgba(255,0,0,0),rgba(1, 16, 3, 1));
  flex-direction: column;
  font-weight: 300;
  justify-content: center;
  width: 100%;
}

.show-folder {
  display: flex;
}

#card-holder {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 180px;
  min-height: 180px;
  overflow: scroll;
  width: 100vw;
}

.card-input {
  display: flex;
  justify-content: center;
}

.url-btn{
  background: darkseagreen;
  border: none;
  margin-top: 10px;
  outline: none;
  width: 80px;
}

.title-input,
.url-input {
  height: 40px;
  margin: 10px 10px 0 0;
}

.filter label {
  font-size: 85%;
}

.folder-input {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  justify-content: center;
}

#folder-input {
  border-radius: 10px;
  border: none;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
  width: 500px;
}

#create-folder-btn {
  background: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  border: none;
  color: #efefef;
  padding: 5px 15px;
}

#create-folder-btn:hover {
  background: rgba(255, 255, 255, 0.55);
  color: #000;
}

.single-card {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: block;
  height: 200px;
  margin-bottom: 10px;
  padding: 0 30px 30px 30px;
}

.single-card a {
  color: #efefef;
  text-decoration: none;
}

.single-card a:visited {
  color: #efefef;
}

.single-card a:hover {
  color: #9bcc98;
}
