html,
body {
  align-items: center;
  background: url('./images/road.jpg');
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(64, 64, 48, 0.76);
  color: #efefef;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#title {
  border-bottom: 2px solid rgba(0, 0, 0, 0.55);
  font-size: 2em;
  text-align: center;
  width: 80%;
}

#create-folder-view {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.folder-title-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.filter{
  margin-top: 35px;
}
